{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
Crossword
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'crossword.css' %}">
{% endblock css %}

{% block content %}

    <div class="cross_Section">
        <div class="container">
            <form method="get">
                <div class="cross_card_main_div">
                    <br>
                    <div class="cross_img_div">
                        <img src="{% static 'img/Capture.png' %}" alt="">
                    </div>
                        <div class="cross_input_div">
                            <input type="text" class="input1" required name="search" placeholder="Enter Your Crossword Clue">
                            <input type="number" class="input2" name="digits" placeholder="Number of Letters">
                        </div>
                </div>
                <div class="cross_last_chevron">
                    <button type="submit" style="border: none; background-color: inherit;"><i class="bi bi-chevron-double-right"></i></button>
                </div>
            </form>
        </div>
    </div>
    {% endblock content %}
    {% block js %}
    
    {% endblock js %}