{% block content %}
{% load static %}
<section class="navbar_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><img class="navlogo" src="{% static 'img/Capture.png' %}"
            alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navtoggler"><i class="bi bi-text-right"></i></span>
        </button>
        <div class="collapse navbar-collapse mypostion" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0 navul">
            <li class="nav-item">
              <a class="nav-link active homemt" aria-current="page" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscribe/">SUBSCRIBE</a>
            </li>
            {% if request.user.is_authenticated and request.user.is_superuser == True %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "add_clue" %}">Add clues</a>
            </li>
            {% endif %}
          </ul>
          <div class="nav_twitter_logo_div">
            <a href=""><i class="bi bi-twitter"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
{% endblock content %}