{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}
Blog
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css'%}">
{% endblock css %}

{% block content %}
    <section class="blog_section_one">
        <div class="container">
            <div class="blog_title_div">
                <h1>BLOG</h1>
            </div>
            <div class="row mt-5">
                {% for record in records %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="blog_card_body_div">
                        <div class="blog_post_number">
                            <h3>{{ record.blog_title }}</h3>
                        </div>
                        <div class="blog_card_image">
                            <img src="{{ record.blog_img.url }}">
                        </div>
                        <div class="blog_card_text_div">
                            <h4>{{ record.blog_description|safe|truncatechars:35 }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="blog_card_body_div">
                        <div class="blog_post_number">
                            <h3>02</h3>
                        </div>
                        <div class="blog_card_text_div">
                            <h2>Blog Post 2</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="blog_card_body_div">
                        <div class="blog_post_number">
                            <h3>03</h3>
                        </div>
                        <div class="blog_card_text_div">
                            <h2>Blog Post 3</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="blog_card_body_div">
                        <div class="blog_post_number">
                            <h3>03</h3>
                        </div>
                        <div class="blog_card_text_div">
                            <h2>Blog Post 3</h2>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    {% endblock content %}
    {% block js %}
    {% endblock js %}