{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Clue | Add {% endblock title %}

{% block css %} {% endblock css %}

{% block content %}
<section class="blog_section_one">
    <div class="container">
        <div class="blog_title_div">
            <h2 class="mt-5">Add DB</h2>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-12 col-md-6">
                <form action="{% url 'add_db' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="exampleFormControlSelect1">Select excel file</label>
                        <input class="form-control" type="file" name="file" id="" required />
                    </div>
                    <button class="btn col-11 col-md-7 btn-primary mt-3" id="submit-button" type="submit">
                        submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}